*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: white;
    
}
.hidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 2s;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transition: all 2s;
}