body{
    font-family: "League Spartan", sans-serif;
}
header{
    background-color: #050A30;
    text-decoration: none;
    padding: 10px 80px 10px 50px;
    font-size: 14px;
    font-weight: bold;
}
nav img{
    width: 8%;
}
nav{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;  
}
nav ul img{
    width: 30px;
}
li{
    display: inline;
    vertical-align: middle
}
.linha {
    border-left: 1px solid #fff;
    height: 30px;
}