.slider{
    margin: 0px auto;
    width: 1000px;
    height: 562.5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.6)
}
.slides{
    width: 400%;
    height: 562.5px;
    display: flex;
}
.slides input{
    display: none;
}
.Slide {
    width: 25%;
    position: relative;
    transition: 2s
}
.Slide img{
    width: 1000px;
}.navigation{
    position: absolute;
    width: 1000px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manualbtn{
    border: 2px solid #89a6f7;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manualbtn:not(:last-child){
    margin-right: 50px;
}
.manualbtn:hover{
    background-color: #89a6f7;
}
.slider .slides #radio1:checked ~ .primeiro{
    margin-left: 0;
}
.slider .slides #radio2:checked ~ .primeiro{
    margin-left: -25%;
}
.slider .slides #radio3:checked ~ .primeiro{
    margin-left: -50%;
}
.titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 70px 0;
}
.titulo p{
    color: #10172b;
    font-size: 50px;
    font-weight: bold;
    border-bottom: solid 5px #89a6f7;
    padding: 8px;
    border-radius: 8px;
    letter-spacing: 7px;
}
section{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxButtons div{
    border: 2px solid #89a6f7;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.boxButtons{
    position: absolute;
    width: 1000px;
    margin-top: 523px;
    display: flex;
    justify-content: center;
}
.boxButtons div:not(:last-child){
    margin-right: 50px;
}
#radio1:checked ~ .boxButtons .buttonFake1{
    background-color: #89a6f7;
}
#radio2:checked ~ .boxButtons .buttonFake2{
    background-color: #89a6f7;
}
#radio3:checked ~ .boxButtons .buttonFake3{
    background-color: #89a6f7;
}
@media screen and (max-width:768px){
    .slider{
        width: 350px;
        height: 192px;
    }
    .slides{
        height: 192px;
    }
    .Slide img{
        width: 350px;
    }
    .navigation{
        margin-top: none;
        width: 350px;
    }
    .boxButtons{
        width: 350px;
    }
}