.listaObjetivos{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 600px;
    align-items: center;
    gap: 80px;
}
.listaObjetivos .objetivo{
    width: 33%;
    height: 50%;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    border: 4px solid black;
    border-radius: 10px;
    justify-content:space-evenly;
    transition: 1s ease-in-out;
}
.listaObjetivos div img{
    width: 100px;
}
.listaObjetivos h4{
    font-size: 150%;
    padding-bottom: 5%;
}
.textoObjetivo{
    padding: 0 20px;
}
.listaObjetivos .objetivo:hover{
    transition: 1s ease-in-out;
    font-size: 112%;
    width: 40%;
    height: 60%;
    background-color: #050A30;
    border-color: #050A30 ;
    color: white;

}
